<% if pet.errors.any? %>
  <div id="form_update_errors" class="errors">
    <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being updated:</h2>
    <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
